/* hero */

#hero{
    background-size: cover;
    max-height: 100%;

    .column_1 {
        background-color: #3C0E0E;
    };

    .hero_col {
        height: 100vh;
    }
    .aroma-logo {
        margin-top: 30%;
        margin-left: 25px;
    }


}