/* hero */

#hero{
    background-size: cover;
    max-height: 100%;

    .column_1 {
        background-color:   rgb(78, 27, 27);
    };
    .column_2 {
        background: url('../public/images/hero-4.png') center center/cover no-repeat;
    };

    .hero_col {
        height: 100vh;
    }



}